[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-operator-replace"]
	path = vim/bundle/vim-operator-replace
	url = git://github.com/kana/vim-operator-replace.git
[submodule "vim/bundle/vim-operator-user"]
	path = vim/bundle/vim-operator-user
	url = git://github.com/kana/vim-operator-user.git
[submodule "vim/bundle/vim-textobj-user"]
	path = vim/bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "vim/bundle/unite"]
	path = vim/bundle/unite
	url = git://github.com/Shougo/unite.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-unite-history"]
	path = vim/bundle/vim-unite-history
	url = git://github.com/thinca/vim-unite-history.git
[submodule "vim/bundle/quickrun"]
	path = vim/bundle/quickrun
	url = git://github.com/ujihisa/quickrun.git
[submodule "vim/bundle/vim-unite-svn"]
	path = vim/bundle/vim-unite-svn
	url = git://github.com/kmnk/vim-unite-svn.git
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "vim/bundle/vimshell"]
	path = vim/bundle/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule "vim/bundle/git-vim"]
	path = vim/bundle/git-vim
	url = git://github.com/motemen/git-vim.git
[submodule "vim/bundle/unite-grep"]
	path = vim/bundle/unite-grep
	url = git://github.com/Sixeight/unite-grep.git
[submodule "vim/bundle/Align"]
	path = vim/bundle/Align
	url = git://github.com/vim-scripts/Align.git
[submodule "vim/bundle/vim-metarw-git"]
	path = vim/bundle/vim-metarw-git
	url = git://github.com/kana/vim-metarw-git.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/kana/vim-surround.git
[submodule "vim/bundle/vim-grex"]
	path = vim/bundle/vim-grex
	url = git://github.com/kana/vim-grex.git
[submodule "vim/bundle/simpletap.vim"]
	path = vim/bundle/simpletap.vim
	url = git://github.com/tyru/simpletap.vim.git
[submodule "vim/bundle/vim-openbuf"]
	path = vim/bundle/vim-openbuf
	url = git://github.com/thinca/vim-openbuf.git
[submodule "vim/bundle/vim-smartchr"]
	path = vim/bundle/vim-smartchr
	url = git://github.com/kana/vim-smartchr.git
[submodule "vim/bundle/vim-altercmd"]
	path = vim/bundle/vim-altercmd
	url = git://github.com/tyru/vim-altercmd.git
[submodule "vim/bundle/current-func-info.vim"]
	path = vim/bundle/current-func-info.vim
	url = git://github.com/tyru/current-func-info.vim.git
[submodule "vim/bundle/unite-colorscheme"]
	path = vim/bundle/unite-colorscheme
	url = git://github.com/ujihisa/unite-colorscheme.git
[submodule "vim/bundle/unite-font"]
	path = vim/bundle/unite-font
	url = git://github.com/ujihisa/unite-font.git
[submodule "vim/bundle/vim-textobj-indent"]
	path = vim/bundle/vim-textobj-indent
	url = git://github.com/kana/vim-textobj-indent.git
[submodule "vim/bundle/unite-help"]
	path = vim/bundle/unite-help
	url = git://github.com/tsukkee/unite-help.git
[submodule "vim/bundle/unite-mark"]
	path = vim/bundle/unite-mark
	url = git://github.com/tacroe/unite-mark.git
[submodule "vim/bundle/IndentAnything"]
	path = vim/bundle/IndentAnything
	url = git://github.com/vim-scripts/IndentAnything.git
[submodule "vim/bundle/Javascript-Indentation"]
	path = vim/bundle/Javascript-Indentation
	url = git://github.com/vim-scripts/Javascript-Indentation.git
[submodule "vim/bundle/QuickBuf"]
	path = vim/bundle/QuickBuf
	url = git://github.com/vim-scripts/QuickBuf.git
[submodule "vim/bundle/vim-yankring"]
	path = vim/bundle/vim-yankring
	url = git://github.com/chrismetcalf/vim-yankring.git
